.a {
    border: 1px solid black;
}
.b {
     border: 1px solid black;
}
.twohundred {
    width: 200mm;
}
.twohundred1 {
    width: 201mm;
}
.twohundred2 {
    width: 202mm;
}
.twohundred3 {
    width: 203mm;
}
.twohundred4 {
    width: 204mm;
}
.twohundred5 {
    width: 205mm;
}
.twohundred6 {
    width: 206mm;
}
.twohundred7 {
    width: 207mm;
}
.twohundred8 {
    width: 208mm;
}
.twohundred9 {
    width: 209mm;
}
.twohundred10 {
    width: 210mm;
}
.twohundred11 {
    width: 211mm;
}
.twohundred12 {
    width: 212mm;
}
.twohundred13 {
    width: 213mm;
}
.twohundred14 {
    width: 214mm;
}
.twohundred15 {
    width: 215mm;
}
.oneninety0 {
    width: 190mm;
}
.oneninety1 {
    width: 191mm;
}
.oneninety2 {
    width: 192mm;
}
.oneninety3 {
    width: 193mm;
}
.oneninety4 {
    width: 194mm;
}
.oneninety5 {
    width: 195mm;
}
.oneninety6 {
    width: 196mm;
}
.oneninety7 {
    width: 197mm;
}
.oneninety8 {
    width: 198mm;
}
.oneninety9 {
    width: 199mm;
}